<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ourcodeworld.sftpplugin"
        version="0.5.1">

  <name>Our Code World SFTP Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ourcodeworldsftp.js" target="js/ourcodeworldsftp.js"/>

  <js-module src="www/ourcodeworldsftp.js" name="OurCodeWorldSFTP">
    <clobbers target="OurCodeWorldSFTP" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OurCodeWorldSFTP">
        <param name="android-package" value="com.ourcodeworld.plugins.sftp.OurCodeWorldSFTP"/>
      </feature>
    </config-file>

    <source-file src="src/android/OurCodeWorldSFTP.java" target-dir="src/com/ourcodeworld/plugin/"/>
    <source-file src="src/android/progressMonitor.java" target-dir="src/com/ourcodeworld/plugin/"/>
    <source-file src="src/android/libs/jsch-0.1.53.jar" target-dir="libs" />
  </platform>
</plugin>